[workspace]
members = [
    "node",
    "tuxedo-template-runtime",
    "tuxedo-core",
    "tuxedo-core/aggregator",
    "tuxedo-core/no_bound",
    "wallet",
    "wardrobe/amoeba",
    "wardrobe/money",
    "wardrobe/poe",
    "wardrobe/kitties",
    "wardrobe/runtime_upgrade",
]
[profile.release]
panic = "unwind"
