[package]
name = "node-template"
version = "4.0.0-dev"
description = "A fresh FRAME-based Substrate node, ready for hacking."
authors = ["Substrate DevHub <https://github.com/substrate-developer-hub>"]
homepage = "https://substrate.io/"
edition = "2021"
license = "Unlicense"
publish = false
repository = "https://github.com/substrate-developer-hub/substrate-node-template/"
build = "build.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "node-template"

[dependencies]
clap = { version = "4.0.29", features = ["derive"] }

sc-cli = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-core = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-executor = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-service = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-telemetry = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-keystore = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-transaction-pool-api = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-consensus-aura = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-consensus = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-consensus = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-consensus-grandpa = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-consensus-grandpa = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-client-api = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-timestamp = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-inherents = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-keyring = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
pallet-transaction-payment = { default-features = false, git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }

# These dependencies are used for the node template's RPCs
jsonrpsee = { version = "0.16.2", features = ["server"] }
sc-rpc = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-api = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-rpc-api = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-blockchain = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sp-block-builder = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
sc-basic-authorship = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }
pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }

# Local Dependencies
node-template-runtime = { package = "frameless-runtime", path = "../frameless-runtime" }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate.git", tag = "monthly-2023-03" }

[features]
default = []
